In [6]:
import pandas as pd

venda = {'data': ['15/02/2021', '16/02/2021'],
 'valor': [500, 300],
 'produto': ['feijao', 'arroz'],
 'qtde': [50, 70],
 }
vendas_df = pd.DataFrame(venda) 

display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

In [32]:
tabela = {'data': ['10/10/2020', '11/10/2020', '12/10/2020', '13/10/2020', '14/10/2020', '15/10/2020'],
          'produto': ['laranja', 'banana', 'uva', 'maçã', 'cenoura', 'tomate'],
          'qtde': [300, 245, 180, 115, 82, 57],}
tabela = pd.DataFrame(estoques)
display(tabela)

         data  produto  qtde
0  10/10/2020  laranja   300
1  11/10/2020   banana   245
2  12/10/2020      uva   180
3  13/10/2020     maçã   115
4  14/10/2020  cenoura    82
5  15/10/2020   tomate    57

In [37]:
tabela.to_excel('estoque.xlsx', index=False)